* {
	text-align: center;
	font-style: bold;
}
h1 {
	color: black;
	text-align: center;
	font-size: 35px;
}

.temp {
	text-align: center;
	height: 128px;
	margin: auto;
	padding: 20px;
	font-size: 60px;
	font-style: bold;
	color: red;
}

canvas {
	height: 220px;
	margin: auto;
	display: block;
}