* {
	text-align: center;
	font-style: bold;
}
h1 {
	color: black;
	text-align: center;
	font-size: 32px;
}
.temp {
	height: 110px;
	margin: auto;
	font-size: 60px;
	font-style: bold;
	color: red;
}
.tempText {
	margin: auto;
	font-size: 24px;
	font-style: bold;
	color: red;
}
canvas {
	height: 220px;
	margin: auto;
	display: block;
}
.summary {
	margin: 20px;
	font-style: bold;
	font-size: 36px;
	color: blue;
}
.summaryText {
	margin: auto;
	color: blue;
	font-size: 24px;
}
p {
	font-size: 24px;
}
.tempMaxText .tempMax{
	color: black;
	height: 100px;
	font-size: 24px;
}
